.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.navBar {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.link {
    color: white;
    font-size: large;
}

.title {
    color: white;
}

.pageContent {
    margin-top: 60px;

}